.error-box {
  height: 5vh;
  text-align: center;
  padding: 3px;
}
.admin-left-nav{
  position: fixed;
}
.accordion-body{
  padding: 0px !important;
}
.container-top-fixed{
  padding: 0px !important;
}
.official-card {
 
  
       background-image:url( '../assets/bg-i.png');

  /* These properties are important for the image to look good */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* Add other styles like color, padding, etc. */
  
  position: relative; 

}



.official-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #6092cb 0%, #6c8aae 100%);
  z-index: -1;
  opacity: 0.7;
}

.in-prohrace{
    position: absolute;
    left: 73px !important;
    bottom: -12px;
    font-size: 8px !important;

}
.fixed-profile{
  margin-top: 67px;
}
.container-top-fixed{
  margin-top: 30px;
}
.btn-custom{
  font-size: 10px;
}
.red-color{
  color: rgb(161, 35, 35) !important;
}
.security-notice p{
  color: #000 !important;
}
.account-style small{
  color: #000 !important;
}
.section-header h2{
color: #000;
font-size: 18px;
}
.official-card h1{
color: #000;
font-size: 20px;
}
 .awc-title {
    color: #fff !important;
    line-height:16px;
    margin-top: 4;
    margin-left: 8px;
} 
.refund-btn{
  font-size: 12px;
}

.feedback-submitted-btn {
  font-size: 12px !important;
  padding: 4px !important;
}

/* This CSS applies ONLY when the viewport is exactly 500px wide */
/* For screens up to 568px (mobile-first approach) */
@media (max-width: 568px) {
  .title-h h4 {
    font-size: 12px !important;
  }
 .card-box-mob{
  padding: 0px !important;
 }
  .fixed-notifications{
    padding: 0px !important;
  }
  .mob-top-view{
margin-top: 22px !important;
padding: 0px !important;
  }
  .button-view {
    font-size: 12px !important;
  }
 
  
}

/* OR for screens 568px and wider */
@media (min-width: 568px) {

  .title-h h4 {
    font-size: 12px !important;
  }
  .button-view {
    font-size: 12px !important;
  }
  .in-prohrace{
    position: absolute !important;
    left: 73px !important;
    bottom: -12px;
    font-size: 8px !important;

}
}

/* OR for a range around 568px */
@media (min-width: 500px) and (max-width: 600px) {
  .title-h h4 {
    font-size: 12px !important;
  }
  .button-view {
    font-size: 12px !important;
  }
}
@media (min-width: 500px) and (max-width: 844px) {
    .in-prohrace{
    position: absolute !important;
    left: 55px !important;
    bottom: -12px;
    font-size: 8px !important;

}
}